h1 {
    font-size: 23px;
    padding-left: 15px;
    padding-right: 15px;
   }
    
   p {
    font-size: 15px;
     padding-left: 15px;
    padding-right: 15px;
   }
    
    .price {
     color: grey;
     border: none;
     outline: 0;
     padding: 14px;
     color: white;
     background-color: #ec8100;
     text-align: center;
     cursor: pointer;
     font-size: 18px;
     position: absolute;
     z-index: 0;
     top: 170px;
     left: 38%;
     right: 38%;
   }
    
    
   .card {
     max-width: 370px;
     margin: auto;
     text-align: center;
     font-family: arial;
     padding: 10px; 
   
     box-shadow: inset 0 0 0 10px #F0F0F0; 
     position: relative;
   }
   
   .card button {
     border: 5px #D3D3D3;
     border-style: thin;
     background: white;
     padding: 18px;
     text-align: center;
     cursor: pointer;
     width: 100%;
     font-size: 18px;
     border-top: solid 0.5px lightgray;
   }